In [1]:
import pandas as pd
import os
if "R_HOME" not in os.environ:
    os.environ['R_HOME'] = '/Library/Frameworks/R.framework/Resources/'
import numpy as np
import rpy2.robjects.numpy2ri
import rpy2.robjects as R
from rpy2.robjects.packages import importr
rpy2.robjects.numpy2ri.activate()
import statsmodels.stats.multitest as sm

R.r('set.seed')(1)

R_STATS = importr('stats')

In [2]:
def fisher_exact_2x2(matrix, alt='greater'):
    return R_STATS.fisher_test(matrix, alternative=alt)

In [40]:
labels_train = pd.read_csv('../../evaluation_validation_set/confidence_adjusted_tables/NN_reducedV3.4_removeN5_nfeatures21_pMax0.93856484.tsv',
                    sep='\t', index_col=0)
labels_test = pd.read_csv('../../evaluation_test_set/NN_reducedV3.4_removeN5_nfeatures21_testsetEval.tsv',
                         sep='\t', index_col=0)

labels_train.columns = ['C1', 'C2', 'C3', 'C4', 'C5']
labels_train['cluster'] = labels_train.idxmax(axis=1)
labels_test['cluster'] = 'C' + labels_test['PredictedCluster'].astype(int).astype(str)

In [41]:
labels = pd.DataFrame(pd.concat([labels_train['cluster'], labels_test['cluster']]), columns = ['cluster'])
labels

                 cluster
DLBCL11534            C3
DLBCL10874            C2
DLBCL11431            C5
DLBCL_C_D_PAIR13      C5
DLBCL10915            C5
...                  ...
DLBCL_LS2258          C2
DLBCL11579            C2
DLBCL10507            C2
DLBCL11438            C2
DLBCL10477            C2

[699 rows x 1 columns]

In [57]:
labels.loc[c3_samples]

                 cluster
DLBCL11534            C3
DLBCL10874            C2
DLBCL11431            C5
DLBCL_C_D_PAIR13      C5
DLBCL10915            C5
...                  ...
DLBCL_LS2258          C2
DLBCL11579            C2
DLBCL10507            C2
DLBCL11438            C2
DLBCL10477            C2

[699 rows x 1 columns]

In [42]:
table_s1 = pd.read_csv('../../data_tables/tableS1_classifier_merged.tsv', sep='\t', index_col=0)
samples_with_os = table_s1.loc[~table_s1['OS.status (1=dead)'].isna()].index

In [43]:
c3_samples = labels.loc[labels['cluster'] == 'C3'].index
c3_samples

Index(['DLBCL11534', 'DLBCL_LS1304', 'DLBCL_LS2325', 'DLBCL_MC_F606_DMJ',
       'DLBC_FF_8046_TP_NB', 'DLBCL_RICOVER_1046', 'DLBCL10536',
       'DLBCL_MC_F815_BAT', 'DLBCL_LS1395', 'DLBCL10879',
       ...
       'DLBCL11532', 'DLBCL11575', 'DLBCL_RICOVER_1013', 'DLBCL_MC_F344_CJS',
       'DLBCL11585', 'DLBCL_LS4618', 'DLBCL_LS1620', 'DLBCL11572',
       'DLBCL_MC_F358_WDS', 'DLBCL_C_D_1127_NULLPAIR'],
      dtype='object', length=113)

In [44]:
samples = pd.read_csv('../../data_tables/sample_sets/ShippStaudtSets.purity0.2.txt', sep='\t', index_col=0)
shipp_samples_c3 = samples.loc[samples['cohort'] == 'Shipp']
shipp_samples_c3 = shipp_samples_c3.loc[shipp_samples_c3.index.isin(c3_samples)].index
shipp_samples_c3_os = shipp_samples_c3[shipp_samples_c3.isin(samples_with_os)]

staudt_samples_c3 = samples.loc[samples['cohort'] != 'Shipp']
staudt_samples_c3 = staudt_samples_c3.loc[staudt_samples_c3.index.isin(c3_samples)].index
staudt_samples_c3_os = staudt_samples_c3[staudt_samples_c3.isin(samples_with_os)]

In [45]:
len(shipp_samples_c3_os), len(staudt_samples_c3_os)

(48, 43)

In [46]:
qval_df = pd.read_csv('../../data_tables/qval_dfs/fisher_exact_5x2.Sep_23_2022.combined.tsv', 
                      sep='\t', index_col=0)
drivers = qval_df.loc[qval_df['q'] <= 0.1].index
drivers

Index(['SV.BCL6', 'DTX1', 'CD70', 'TNFAIP3', 'NOTCH2', 'BCL10', 'B2M', 'CD58',
       'X5Q.AMP', 'FAS',
       ...
       'X6Q14.1.DEL', 'SF3B1', 'ZC3H12A', 'ATP2A2', 'X6P21.33.DEL',
       'X1Q32.1.AMP', 'BCL11A', 'IRF4', 'LYN', 'ETS1'],
      dtype='object', length=163)

In [47]:
gsm = pd.read_csv('../../data_tables/gsm/DLBCL.699.fullGSM.Sep_23_2022.tsv', sep='\t', index_col=0)
gsm.loc['PLOIDY'] = (gsm.loc['PLOIDY'].astype(float) > 2.5).astype(int)
gsm.loc['COO_ABC'] = gsm.loc['COO'].map({'ABC': 1, 'GCB': 0, 'UNC': 0, 'na': 'na'})
gsm.loc['COO_GCB'] = gsm.loc['COO'].map({'ABC': 0, 'GCB': 1, 'UNC': 0, 'na': 'na'})
gsm.loc['COO_UNC'] = gsm.loc['COO'].map({'ABC': 0, 'GCB': 0, 'UNC': 1, 'na': 'na'})
gsm = gsm.drop('COO')
gsm = gsm.drop('PURITY')
gsm = gsm.loc[~gsm.index.str.contains('CCF')]
rows = [i for i in gsm.index if i not in ['COO_ABC', 'COO_GCB', 'COO_UNC']]
for idx in rows:
    gsm.loc[idx] = gsm.loc[idx].astype(float).astype(int)
gsm.head()

,DLBCL11470,DLBCL10900,DLBC_FF_A7CQ_TP_NB,DLBCL10462,DLBCL_RICOVER_1081,DLBCL_LS1098,DLBCL_RICOVER_299,DLBCL11558,DLBCL_C_D_1105_NULLPAIR,DLBCL11447,...,DLBCL11455,DLBCL_RICOVER_685,DLBCL_LS146,DLBCL_RICOVER_111,DLBCL_RICOVER_173,DLBCL11515,DLBCL10491,DLBCL_RICOVER_1046,DLBCL10547,DLBCL10998
0,,,,,,,,,,,,,,,,,,,,,
STAT3,0,0,0,0,2,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
STK33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OSBPL10,0,2,1,0,0,0,0,0,0,1,...,2,0,0,0,0,2,0,0,0,0
BCL11A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
PIM1,2,2,2,2,0,0,2,0,0,2,...,0,2,0,0,0,0,0,0,2,0

In [48]:
all_c3 = list(shipp_samples_c3) + list(staudt_samples_c3)
gsm_c3 = gsm[all_c3]
gsm_c3.head()

,DLBCL_MC_F300_TBF,DLBCL_C_D_1110_NULLPAIR,DLBCL_LS4593,DLBCL_LS4592,DLBCL_LS3820,DLBCL_LS3615,DLBCL_LS297,DLBCL_LS2328,DLBCL_LS2325,DLBCL_LS2305,...,DLBCL11666,DLBCL11667,DLBCL11669,DLBCL11670,DLBCL11672,DLBCL11675,DLBCL11680,DLBCL11683,DLBCL11685,DLBCL10908
0,,,,,,,,,,,,,,,,,,,,,
STAT3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
STK33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
OSBPL10,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,2,0
BCL11A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PIM1,0,0,0,2,0,0,0,0,0,2,...,0,0,0,0,0,2,0,0,0,0

In [49]:
coo_ploidy = ['COO_ABC', 'COO_GCB', 'COO_UNC', 'PLOIDY']
groups = ['Staudt', 'Shipp']
sets = [staudt_samples_c3, shipp_samples_c3]

cols = ['p', 'Shipp_wt', 'Shipp_mt', 'Staudt_wt', 'Staudt_mt',
        'p_os', 'Shipp_os_wt', 'Shipp_os_mt', 'Staudt_os_wt', 'Staudt_os_mt']

stats_table_coo = np.array([[0] * len(cols)] * 4)
stats_table_coo = pd.DataFrame(stats_table_coo)
stats_table_coo.index = coo_ploidy

stats_table_coo.columns = cols

stats_table_coo

,p,Shipp_wt,Shipp_mt,Staudt_wt,Staudt_mt,p_os,Shipp_os_wt,Shipp_os_mt,Staudt_os_wt,Staudt_os_mt
COO_ABC,0,0,0,0,0,0,0,0,0,0
COO_GCB,0,0,0,0,0,0,0,0,0,0
COO_UNC,0,0,0,0,0,0,0,0,0,0
PLOIDY,0,0,0,0,0,0,0,0,0,0

In [50]:
for c in stats_table_coo.index:
    sh_g = gsm.loc[c, shipp_samples_c3]
    st_g = gsm.loc[c, staudt_samples_c3]
    
    sh_mt = (sh_g == 1).sum()
    sh_wt = (sh_g == 0).sum()
    st_mt = (st_g == 1).sum()
    st_wt = (st_g == 0).sum()
    
    m = np.array([[0, 0]] * 2)
    m[0][0] = sh_mt
    m[0][1] = sh_wt
    m[1][0] = st_mt
    m[1][1] = st_wt
    
    p = fisher_exact_2x2(m, 'two.sided')[0][0]
    
    stats_table_coo.loc[c, 'p'] = p
    stats_table_coo.loc[c, 'Shipp_wt'] = sh_wt
    stats_table_coo.loc[c, 'Shipp_mt'] = sh_mt
    stats_table_coo.loc[c, 'Staudt_wt'] = st_wt
    stats_table_coo.loc[c, 'Staudt_mt'] = st_mt
    
for c in stats_table_coo.index:
    sh_g = gsm.loc[c, shipp_samples_c3_os]
    st_g = gsm.loc[c, staudt_samples_c3_os]
    
    sh_mt = (sh_g == 1).sum()
    sh_wt = (sh_g == 0).sum()
    st_mt = (st_g == 1).sum()
    st_wt = (st_g == 0).sum()
    
    m = np.array([[0, 0]] * 2)
    m[0][0] = sh_mt
    m[0][1] = sh_wt
    m[1][0] = st_mt
    m[1][1] = st_wt
    
    p = fisher_exact_2x2(m, 'two.sided')[0][0]
    
    stats_table_coo.loc[c, 'p_os'] = p
    stats_table_coo.loc[c, 'Shipp_os_wt'] = sh_wt
    stats_table_coo.loc[c, 'Shipp_os_mt'] = sh_mt
    stats_table_coo.loc[c, 'Staudt_os_wt'] = st_wt
    stats_table_coo.loc[c, 'Staudt_os_mt'] = st_mt
    
stats_table_coo

,p,Shipp_wt,Shipp_mt,Staudt_wt,Staudt_mt,p_os,Shipp_os_wt,Shipp_os_mt,Staudt_os_wt,Staudt_os_mt
COO_ABC,0.396798,41,1,56,5,1,38,1,41,2
COO_GCB,0.148150,3,39,11,50,1,3,36,4,39
COO_UNC,0.467083,40,2,55,6,1,37,2,41,2
PLOIDY,1.000000,49,3,58,3,1,45,3,41,2

In [51]:
stats_table = np.array([[0] * len(cols)] * len(drivers))
stats_table = pd.DataFrame(stats_table)

stats_table.columns = cols
stats_table.index = drivers

stats_table

,p,Shipp_wt,Shipp_mt,Staudt_wt,Staudt_mt,p_os,Shipp_os_wt,Shipp_os_mt,Staudt_os_wt,Staudt_os_mt
SV.BCL6,0,0,0,0,0,0,0,0,0,0
DTX1,0,0,0,0,0,0,0,0,0,0
CD70,0,0,0,0,0,0,0,0,0,0
TNFAIP3,0,0,0,0,0,0,0,0,0,0
NOTCH2,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
X1Q32.1.AMP,0,0,0,0,0,0,0,0,0,0
BCL11A,0,0,0,0,0,0,0,0,0,0
IRF4,0,0,0,0,0,0,0,0,0,0
LYN,0,0,0,0,0,0,0,0,0,0
ETS1,0,0,0,0,0,0,0,0,0,0

In [52]:
for c in stats_table.index:
    sh_g = gsm.loc[c, shipp_samples_c3]
    st_g = gsm.loc[c, staudt_samples_c3]
    
    sh_mt = (sh_g != 0).sum()
    sh_wt = (sh_g == 0).sum()
    st_mt = (st_g != 0).sum()
    st_wt = (st_g == 0).sum()
    
    m = np.array([[0, 0]] * 2)
    m[0][0] = sh_mt
    m[0][1] = sh_wt
    m[1][0] = st_mt
    m[1][1] = st_wt
    
    p = fisher_exact_2x2(m, 'two.sided')[0][0]
    
    stats_table.loc[c, 'p'] = p
    stats_table.loc[c, 'Shipp_wt'] = sh_wt
    stats_table.loc[c, 'Shipp_mt'] = sh_mt
    stats_table.loc[c, 'Staudt_wt'] = st_wt
    stats_table.loc[c, 'Staudt_mt'] = st_mt
    
for c in stats_table.index:
    sh_g = gsm.loc[c, shipp_samples_c3_os]
    st_g = gsm.loc[c, staudt_samples_c3_os]
    
    sh_mt = (sh_g != 0).sum()
    sh_wt = (sh_g == 0).sum()
    st_mt = (st_g != 0).sum()
    st_wt = (st_g == 0).sum()
    
    m = np.array([[0, 0]] * 2)
    m[0][0] = sh_mt
    m[0][1] = sh_wt
    m[1][0] = st_mt
    m[1][1] = st_wt
    
    p = fisher_exact_2x2(m, 'two.sided')[0][0]
    
    stats_table.loc[c, 'p_os'] = p
    stats_table.loc[c, 'Shipp_os_wt'] = sh_wt
    stats_table.loc[c, 'Shipp_os_mt'] = sh_mt
    stats_table.loc[c, 'Staudt_os_wt'] = st_wt
    stats_table.loc[c, 'Staudt_os_mt'] = st_mt

stats_table

,p,Shipp_wt,Shipp_mt,Staudt_wt,Staudt_mt,p_os,Shipp_os_wt,Shipp_os_mt,Staudt_os_wt,Staudt_os_mt
SV.BCL6,1.000000,51,1,59,2,0.472527,48,0,42,1
DTX1,0.046916,46,6,60,1,0.207335,43,5,42,1
CD70,1.000000,51,1,60,1,1.000000,47,1,42,1
TNFAIP3,1.000000,48,4,57,4,1.000000,45,3,40,3
NOTCH2,1.000000,51,1,59,2,1.000000,47,1,42,1
...,...,...,...,...,...,...,...,...,...,...
X1Q32.1.AMP,0.730223,47,5,57,4,0.717449,43,5,40,3
BCL11A,1.000000,51,1,59,2,1.000000,47,1,42,1
IRF4,0.248104,52,0,58,3,0.220513,48,0,41,2
LYN,0.460177,51,1,61,0,1.000000,47,1,43,0
ETS1,0.449088,50,2,56,5,1.000000,46,2,41,2

In [53]:
stats_table_all = pd.concat([stats_table, stats_table_coo])
stats_table_all.insert(0, 'q', sm.multipletests(stats_table_all['p'], method='fdr_bh')[1])
stats_table_all.insert(6, 'q_os', sm.multipletests(stats_table_all['p_os'], method='fdr_bh')[1])
stats_table_all = stats_table_all.sort_values(by='p', ascending=True)
stats_table_all

,q,p,Shipp_wt,Shipp_mt,Staudt_wt,Staudt_mt,q_os,p_os,Shipp_os_wt,Shipp_os_mt,Staudt_os_wt,Staudt_os_mt
X12P13.2.DEL,0.503289,0.003464,45,7,61,0,0.768184,0.013078,41,7,43,0
BCL2,0.503289,0.006027,12,40,30,31,0.791319,0.026301,11,37,20,23
SV.BCL2,0.526171,0.017042,11,41,26,35,0.791319,0.024031,10,38,19,24
X6P21.1.AMP,0.526171,0.018516,47,5,61,0,0.791319,0.057519,43,5,43,0
FAS,0.526171,0.019203,50,2,49,12,0.768184,0.005450,46,2,32,11
...,...,...,...,...,...,...,...,...,...,...,...,...
EEF1A1,1.000000,1.000000,47,5,56,5,1.000000,0.439608,43,5,41,2
IRF8,1.000000,1.000000,41,11,49,12,1.000000,0.796784,37,11,35,8
X9Q.AMP,1.000000,1.000000,48,4,56,5,1.000000,1.000000,45,3,40,3
NFKBIA,1.000000,1.000000,48,4,57,4,1.000000,1.000000,44,4,39,4
PLOIDY,1.000000,1.000000,49,3,58,3,1.000000,1.000000,45,3,41,2

In [54]:
stats_table_all.to_csv('../../data_tables/qval_dfs/predictedC3_staudt_vs_shipp.tsv', sep='\t')

In [55]:
stats_table_all.iloc[0:8,].index

Index(['X12P13.2.DEL', 'BCL2', 'SV.BCL2', 'X6P21.1.AMP', 'FAS', 'X9P21.3.DEL',
       'SOCS1', 'BTG1'],
      dtype='object')

In [56]:
qval_df.loc[stats_table_all.iloc[0:8,].index]

,cluster,q,p,overall_frequency,C1_nf,C2_nf,C3_nf,C4_nf,C5_nf,C1_f,...,C3_wt,C4_mut,C4_wt,C5_mut,C5_wt,C1_sum,C2_sum,C3_sum,C4_sum,C5_sum
X12P13.2.DEL,C2,0.000036,0.00001,0.078182,0.046512,0.581395,0.093023,0.046512,0.232558,0.003636,...,91,2,73,10,129,2,25,4,2,10
BCL2,C3,0.000036,0.00001,0.161818,0.033708,0.146067,0.584270,0.067416,0.168539,0.005455,...,43,6,69,15,124,5,26,94,12,24
SV.BCL2,C3,0.000036,0.00001,0.147273,0.024691,0.185185,0.703704,0.049383,0.037037,0.003636,...,38,4,71,3,136,6,45,171,12,9
X6P21.1.AMP,C2,0.069385,0.03991,0.061818,0.176471,0.441176,0.117647,0.029412,0.235294,0.010909,...,91,1,74,8,131,7,21,6,1,10
FAS,C1,0.000036,0.00001,0.096364,0.433962,0.113208,0.226415,0.169811,0.056604,0.041818,...,83,9,66,3,136,46,12,24,18,6
X9P21.3.DEL,C2,0.000036,0.00001,0.152727,0.107143,0.464286,0.083333,0.035714,0.309524,0.016364,...,88,3,72,26,113,10,46,8,3,32
SOCS1,C3,0.002940,0.00126,0.130909,0.222222,0.138889,0.250000,0.250000,0.138889,0.029091,...,77,18,57,10,129,31,18,35,30,19
BTG1,C5,0.000036,0.00001,0.256364,0.184397,0.127660,0.070922,0.212766,0.404255,0.047273,...,85,30,45,57,82,38,29,17,50,89