In [1]:
import sys
sys.path.append("../")
import pandas as pd
import calculate_model_metrics
import numpy as np
import random
import format_data as fd
import classify_generic as cg
import calculate_model_metrics as CM
from matplotlib import pyplot as plt

random.seed(123)
np.random.seed(123)

In [2]:
#%cd ..

/Users/twood/Desktop/DLBCL-Classifier/src_python

In [3]:
staudt_maf = pd.read_csv('../data_tables/maf_files/MAF_NCICCR-DLBCL_phs001444.txt', sep='\t')
tcga_maf = pd.read_csv('../data_tables/maf_files/MAF_TCGA-DLBC_phs000178.txt', sep='\t')

staudt_maf.head()

,SUBJECT_NAME,dbGaP_ACCESSION,MUTATION_ID,CHROMOSOME,HG.19 POSITION,REF. NT,ALT. NT,ENTREZ_GENE_ID,GENE SYMBOL,EXEMPLAR ACCESSION,...,ANNOVAR_POP_FREQ_MAX,1000_Genome_ALL_Freq,EXAC_ALL_Freq,ESP_ALL_Freq,NCI60_Freq,COSMIC,SIFT_SCORE,SIFT_PRED,PP2_HDIV,PP2_HDIV_PRED
0,DLBCL11255,phs001444,225513,17,62006798,T,G,974,CD79B,NM_000626,...,0.0000,0.0,0.0,0.0,0.0,"ID=COSM220733;OCCURENCE=1(NS),3(haematopoietic...",0.00,D,1.000,D
1,DLBCL11255,phs001444,28031221,1,204438336,G,A,5287,PIK3C2B,NM_002646,...,0.0000,0.0,0.0,0.0,0.0,NaN,0.80,T,0.000,B
2,DLBCL11255,phs001444,28843675,7,99917588,C,T,441272,SPDYE3,NM_001004351,...,0.0000,0.0,0.0,0.0,0.0,NaN,0.04,D,NaN,NaN
3,DLBCL11255,phs001444,34801656,12,124074934,C,T,10959,TMED2,NM_006815,...,0.0002,0.0,0.0,0.0,0.0,NaN,0.24,T,0.089,B
4,DLBCL11255,phs001444,52880134,10,104899192,A,T,22978,NT5C2,NM_012229,...,0.0000,0.0,0.0,0.0,0.0,NaN,1.00,T,0.637,P

In [37]:
staudt_maf.shape

(50587, 27)

In [4]:
tcga_maf.head()

,SUBJECT_NAME,dbGaP_ACCESSION,MUTATION_ID,CHROMOSOME,HG.19 POSITION,REF. NT,ALT. NT,ENTREZ_GENE_ID,GENE SYMBOL,EXEMPLAR ACCESSION,...,ANNOVAR_POP_FREQ_MAX,1000_Genome_ALL_Freq,EXAC_ALL_Freq,ESP_ALL_Freq,NCI60_Freq,COSMIC,SIFT_SCORE,SIFT_PRED,PP2_HDIV,PP2_HDIV_PRED
0,TCGA-FA-A86F,phs000178,67771721,5,10387118,A,G,10299,MARCH6,NM_005885,...,0.0,0.0,0.0,0.0,0.0,NaN,1.00,T,0.005,B
1,TCGA-GR-A4D4,phs000178,67742332,16,30389972,G,C,1731,SEPT1,NM_052838,...,0.0,0.0,0.0,0.0,0.0,NaN,0.87,T,0.025,B
2,TCGA-FF-8042,phs000178,67863107,X,118797638,C,A,23157,SEPT6,NM_015129,...,0.0,0.0,0.0,0.0,0.0,NaN,0.02,D,NaN,NaN
3,TCGA-FF-8061,phs000178,67869319,7,35937935,A,G,989,SEPT7,NM_001011553,...,0.0,0.0,0.0,0.0,0.0,NaN,0.08,T,0.043,B
4,TCGA-G8-6324,phs000178,21258642,7,74542150,C,A,84163,GTF2IRD2,NM_173537,...,0.0,0.0,0.0,0.0,0.0,NaN,0.04,D,0.000,B

In [122]:
tcga_maf['gsm_name'] = tcga_maf['SUBJECT_NAME'].str.replace('TCGA', 'DLBC').str.replace('-', '_') + '_TP_NB'
tcga_maf['gsm_name'] = tcga_maf['gsm_name'].str.replace('DLBC_G8_6909_TP_NB', 'DLBC_G8_6909_TP_NBM')
tcga_maf['gsm_name'] = tcga_maf['gsm_name'].str.replace('DLBC_G8_6906_TP_NB', 'DLBC_G8_6906_TP_NBM')
tcga_maf['gsm_name'] = tcga_maf['gsm_name'].str.replace('DLBC_G8_6914_TP_NB', 'DLBC_G8_6914_TP_NBM')
tcga_maf['gsm_name'] = tcga_maf['gsm_name'].str.replace('DLBC_G8_6907_TP_NB', 'DLBC_G8_6907_TP_NBM')
tcga_maf['gsm_name']

0       DLBC_FA_A86F_TP_NB
1       DLBC_GR_A4D4_TP_NB
2       DLBC_FF_8042_TP_NB
3       DLBC_FF_8061_TP_NB
4       DLBC_G8_6324_TP_NB
               ...
3751    DLBC_RQ_AAAT_TP_NB
3752    DLBC_RQ_AAAT_TP_NB
3753    DLBC_RQ_AAAT_TP_NB
3754    DLBC_RQ_AAAT_TP_NB
3755    DLBC_FA_A4XK_TP_NB
Name: gsm_name, Length: 3756, dtype: object

In [7]:
our_gsm = pd.read_csv('../data_tables/gsm/DLBCL.699.163drivers.Sep_23_2022.tsv', sep='\t', index_col=1)
our_gsm

,gene,DLBCL11470,DLBCL10900,DLBC_FF_A7CQ_TP_NB,DLBCL10462,DLBCL_RICOVER_1081,DLBCL_LS1098,DLBCL_RICOVER_299,DLBCL11558,DLBCL_C_D_1105_NULLPAIR,...,DLBCL11455,DLBCL_RICOVER_685,DLBCL_LS146,DLBCL_RICOVER_111,DLBCL_RICOVER_173,DLBCL11515,DLBCL10491,DLBCL_RICOVER_1046,DLBCL10547,DLBCL10998
classifier_name,,,,,,,,,,,,,,,,,,,,,
SV.BCL6,SV.BCL6,3,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DTX1,DTX1,2,1,0,0,0,0,0,0,2,...,1,0,0,0,0,0,0,0,0,0
CD70,CD70,2,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TNFAIP3,TNFAIP3,2,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
NOTCH2,NOTCH2,0,0,0,2,0,0,0,0,2,...,0,0,2,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X1Q32.1.AMP,1Q32.1.AMP,0,0,0,0,1,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
BCL11A,BCL11A,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
IRF4,IRF4,0,2,2,0,0,0,0,0,0,...,2,0,0,1,0,0,0,0,0,0
LYN,LYN,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ETS1,ETS1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
sample_set = pd.read_csv('../data_tables/sample_sets/ShippStaudtSets.purity0.2.txt', sep='\t', index_col=0)
staudt_samples = sample_set[sample_set['cohort'] == 'Staudt']
tcga_samples = sample_set[sample_set['cohort'] == 'TCGA']
shipp_samples = sample_set[sample_set['cohort'] == 'Shipp']

In [17]:
staudt_samples

            cohort  cohort_num
SampleName
DLBCL10450  Staudt           1
DLBCL10469  Staudt           1
DLBCL10497  Staudt           1
DLBCL10505  Staudt           1
DLBCL10538  Staudt           1
...            ...         ...
DLBCL11495  Staudt           1
DLBCL11500  Staudt           1
DLBCL11513  Staudt           1
DLBCL11514  Staudt           1
DLBCL11581  Staudt           1

[415 rows x 2 columns]

In [35]:
mutation_rows = [x for x in our_gsm.index if '.AMP' not in x and '.DEL' not in x and 'SV.' not in x]
len(mutation_rows)

99

In [73]:
staudt_gsm = our_gsm.loc[:, our_gsm.columns.isin(staudt_samples.index)].copy(deep=True)
staudt_gsm.loc[mutation_rows, :] = 0
staudt_gsm

,DLBCL11470,DLBCL10900,DLBCL10462,DLBCL11558,DLBCL11447,DLBCL11685,DLBCL10881,DLBCL11482,DLBCL11590,DLBCL10529,...,DLBCL11571,DLBCL10967,DLBCL10947,DLBCL10989,DLBCL11469,DLBCL11455,DLBCL11515,DLBCL10491,DLBCL10547,DLBCL10998
classifier_name,,,,,,,,,,,,,,,,,,,,,
SV.BCL6,3,0,3,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
DTX1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CD70,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TNFAIP3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NOTCH2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X1Q32.1.AMP,0,0,0,0,0,0,2,0,0,2,...,0,0,0,0,0,2,0,0,0,0
BCL11A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
IRF4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LYN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ETS1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
tcga_gsm = our_gsm.loc[:, our_gsm.columns.isin(tcga_samples.index)].copy(deep=True)
tcga_gsm.loc[mutation_rows, :] = 0
tcga_gsm

,DLBC_FF_A7CQ_TP_NB,DLBC_FF_A7CW_TP_NB,DLBC_FF_A7CR_TP_NB,DLBC_FF_8046_TP_NB,DLBC_FF_8042_TP_NB,DLBC_FF_8043_TP_NB,DLBC_FF_A7CX_TP_NB,DLBC_FF_8062_TP_NB
classifier_name,,,,,,,,
SV.BCL6,0,0,0,0,0,0,0,0
DTX1,0,0,0,0,0,0,0,0
CD70,0,0,0,0,0,0,0,0
TNFAIP3,0,0,0,0,0,0,0,0
NOTCH2,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
X1Q32.1.AMP,0,0,0,0,0,0,0,0
BCL11A,0,0,0,0,0,0,0,0
IRF4,0,0,0,0,0,0,0,0
LYN,0,0,0,0,0,0,0,0
ETS1,0,0,0,0,0,0,0,0

In [74]:
for idx, row in staudt_maf.iterrows():
    sample = row['SUBJECT_NAME']
    gene = row['GENE SYMBOL'].replace('-', '.')
    if sample not in staudt_gsm.columns or gene not in staudt_gsm.index:
        continue
    
    if row['GENE SYMBOL'] == 'MYD88':
        if row['AA CHANGE'] == 'L265P':
            staudt_gsm.loc['MYD88.L265P', sample] = 2
        else:
            staudt_gsm.loc['MYD88.OTHER', sample] = 2
    
    staudt_gsm.loc[gene, sample] = 2

In [ ]:
for idx, row in tcga_maf.iterrows():
    sample = row['gsm_name']
    gene = row['GENE SYMBOL'].replace('-', '.')
    if sample not in tcga_gsm.columns or gene not in tcga_gsm.index:
        continue
    
    if row['GENE SYMBOL'] == 'MYD88':
        if row['AA CHANGE'] == 'L265P':
            tcga_gsm.loc['MYD88.L265P', sample] = 2
        else:
            tcga_gsm.loc['MYD88.OTHER', sample] = 2
    
    tcga_gsm.loc[gene, sample] = 2

In [75]:
staudt_gsm.index[staudt_gsm.sum(axis=1) == 0]

Index(['IGLL5'], dtype='object', name='classifier_name')

In [76]:
staudt_gsm

,DLBCL11470,DLBCL10900,DLBCL10462,DLBCL11558,DLBCL11447,DLBCL11685,DLBCL10881,DLBCL11482,DLBCL11590,DLBCL10529,...,DLBCL11571,DLBCL10967,DLBCL10947,DLBCL10989,DLBCL11469,DLBCL11455,DLBCL11515,DLBCL10491,DLBCL10547,DLBCL10998
classifier_name,,,,,,,,,,,,,,,,,,,,,
SV.BCL6,3,0,3,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
DTX1,2,0,0,0,0,0,0,2,0,0,...,0,0,2,0,0,0,0,0,0,2
CD70,2,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
TNFAIP3,2,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
NOTCH2,0,0,2,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X1Q32.1.AMP,0,0,0,0,0,0,2,0,0,2,...,0,0,0,0,0,2,0,0,0,0
BCL11A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
IRF4,0,2,0,0,0,0,2,0,0,0,...,0,2,0,0,0,2,0,0,0,0
LYN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ETS1,2,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
staudt_ours = our_gsm.loc[:, our_gsm.columns.isin(staudt_samples.index)].copy(deep=True)
staudt_ours

,DLBCL11470,DLBCL10900,DLBCL10462,DLBCL11558,DLBCL11447,DLBCL11685,DLBCL10881,DLBCL11482,DLBCL11590,DLBCL10529,...,DLBCL11571,DLBCL10967,DLBCL10947,DLBCL10989,DLBCL11469,DLBCL11455,DLBCL11515,DLBCL10491,DLBCL10547,DLBCL10998
classifier_name,,,,,,,,,,,,,,,,,,,,,
SV.BCL6,3,0,3,0,0,0,0,0,0,0,...,0,0,3,0,0,0,0,0,0,0
DTX1,2,1,0,0,0,0,0,2,0,0,...,0,0,0,0,0,1,0,0,0,0
CD70,2,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
TNFAIP3,2,0,2,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,2,2
NOTCH2,0,0,2,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X1Q32.1.AMP,0,0,0,0,0,0,2,0,0,2,...,0,0,0,0,0,2,0,0,0,0
BCL11A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
IRF4,0,2,0,0,0,0,2,0,0,1,...,0,0,0,0,0,2,0,0,0,0
LYN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ETS1,2,0,0,0,0,0,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
labels = pd.read_csv('../data_tables/confidence_tables/baseline_probabilities.connectivity_based.sensitivity_power2.Sep_23_2022.tsv',
                    sep='\t', index_col=0)
labels['cluster'] = 'C' + labels['cluster'].astype(str)
labels = labels.loc[staudt_gsm.columns]
labels

,C1,C2,C3,C4,C5,cluster,confidence
DLBCL11470,0.978949,0.000287,0.000271,0.019809,0.000685,C1,0.978949
DLBCL10900,0.001744,0.000406,0.000081,0.011077,0.986691,C5,0.986691
DLBCL10462,0.982121,0.000283,0.000379,0.016758,0.000459,C1,0.982121
DLBCL11558,0.000041,0.001913,0.991149,0.006744,0.000153,C3,0.991149
DLBCL11447,0.007417,0.000682,0.001005,0.750258,0.240637,C4,0.750258
...,...,...,...,...,...,...,...
DLBCL11455,0.014204,0.001211,0.523492,0.460868,0.000225,C3,0.523492
DLBCL11515,0.000118,0.005935,0.986350,0.004612,0.002985,C3,0.986350
DLBCL10491,0.006531,0.005456,0.055813,0.931675,0.000525,C4,0.931675
DLBCL10547,0.049571,0.001169,0.012738,0.936086,0.000435,C4,0.936086
DLBCL10998,0.975991,0.000303,0.000431,0.022793,0.000481,C1,0.975991

In [88]:
test_set = list(pd.read_csv('../data_tables/train_test_sets/TestingSet_149Subset_May2021.txt', 
                            sep='\t', index_col=0, header=None).index)

149

In [94]:
# classify staudt_ours and staudt_raw

# Make reduced gsms

staudt_ours_test = staudt_ours.loc[:, staudt_ours.columns.isin(test_set)]

reduced_gsm_staudt_ours = fd.construct_reduced_winning_version(staudt_ours_test)
classified_samples_staudt_ours = cg.classify_samples_winning_model(reduced_gsm_staudt_ours)
classified_samples_staudt_ours.index.name = 'sample'
classified_samples_staudt_ours['PredictedCluster'] = classified_samples_staudt_ours['PredictedCluster'].map({
                                                                                                     1.0: 'C1', 
                                                                                                     2.0: 'C2', 
                                                                                                     3.0: 'C3', 
                                                                                                     4.0: 'C4', 
                                                                                                     5.0: 'C5'})
classified_samples_staudt_ours['TrueCluster'] = labels.loc[classified_samples_staudt_ours.index, 'cluster']
classified_samples_staudt_ours = classified_samples_staudt_ours.sort_values(by='Confidence')
classified_samples_staudt_ours.to_csv('../evaluation_panel_sets/staudt_ours_predictions.tsv', sep='\t', index=True)

loaded

../nn.py:21: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  x = F.softmax(x)

In [96]:
staudt_raw_test = staudt_gsm.loc[:, staudt_gsm.columns.isin(test_set)]

reduced_gsm_staudt_raw = fd.construct_reduced_winning_version(staudt_raw_test)
classified_samples_staudt_raw = cg.classify_samples_winning_model(reduced_gsm_staudt_raw)
classified_samples_staudt_raw.index.name = 'sample'
classified_samples_staudt_raw['PredictedCluster'] = classified_samples_staudt_raw['PredictedCluster'].map({
                                                                                                     1.0: 'C1', 
                                                                                                     2.0: 'C2', 
                                                                                                     3.0: 'C3', 
                                                                                                     4.0: 'C4', 
                                                                                                     5.0: 'C5'})
classified_samples_staudt_raw['TrueCluster'] = labels.loc[classified_samples_staudt_raw.index, 'cluster']
classified_samples_staudt_raw = classified_samples_staudt_raw.sort_values(by='Confidence')
classified_samples_staudt_raw.to_csv('../evaluation_panel_sets/staudt_raw_predictions.tsv', sep='\t', index=True)

loaded

../nn.py:21: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  x = F.softmax(x)

In [99]:
performances_all = pd.DataFrame(columns=['accuracy', 'lowerAcc', 'upperAcc', 
                                         'kappa', 'lowerKappa', 'upperKappa',
                                         'performance', 'lowerPerformance', 'upperPerformance'])

In [100]:
# staudt our calls results

lrx_staudt_ours = np.array(classified_samples_staudt_ours['Confidence'])
lry_staudt_ours = np.array(np.equal(classified_samples_staudt_ours['PredictedCluster'], 
                                classified_samples_staudt_ours['TrueCluster']).astype(int))
CM.modelKappa(lrx_staudt_ours, lry_staudt_ours,
              num_iter=1,
              computeplots=True,
              savefilename='../plots/xyresiduals/staudt_ours')

acc_staudt_ours, lower_acc_staudt_ours, upper_acc_staudt_ours = CM.modelAccuracy(
                                                                    classified_samples_staudt_ours['PredictedCluster'], 
                                                                    classified_samples_staudt_ours['TrueCluster'])

kappa_staudt_ours, lower_kappa_staudt_ours, upper_kappa_staudt_ours = CM.modelKappa(lrx_staudt_ours, 
                                                                                    lry_staudt_ours)

p_staudt_ours, lower_p_staudt_ours, upper_p_staudt_ours = CM.modelPerformance(acc_staudt_ours, kappa_staudt_ours, 
                                                                  lower_acc_staudt_ours, upper_acc_staudt_ours, 
                                                                  lower_kappa_staudt_ours, upper_kappa_staudt_ours)


performances_all.loc['staudt_ours'] = [acc_staudt_ours, lower_acc_staudt_ours, upper_acc_staudt_ours,
                                  kappa_staudt_ours, lower_kappa_staudt_ours, upper_kappa_staudt_ours,
                                  p_staudt_ours, lower_p_staudt_ours, upper_p_staudt_ours]

In [102]:
# staudt raw calls results

lrx_staudt_raw = np.array(classified_samples_staudt_raw['Confidence'])
lry_staudt_raw = np.array(np.equal(classified_samples_staudt_raw['PredictedCluster'], 
                                classified_samples_staudt_raw['TrueCluster']).astype(int))
CM.modelKappa(lrx_staudt_raw, lry_staudt_raw,
              num_iter=1,
              computeplots=True,
              savefilename='../plots/xyresiduals/staudt_raw')

acc_staudt_raw, lower_acc_staudt_raw, upper_acc_staudt_raw = CM.modelAccuracy(
                                                                    classified_samples_staudt_raw['PredictedCluster'], 
                                                                    classified_samples_staudt_raw['TrueCluster'])

kappa_staudt_raw, lower_kappa_staudt_raw, upper_kappa_staudt_raw = CM.modelKappa(lrx_staudt_raw, 
                                                                                    lry_staudt_raw)

p_staudt_raw, lower_p_staudt_raw, upper_p_staudt_raw = CM.modelPerformance(acc_staudt_raw, kappa_staudt_raw, 
                                                                  lower_acc_staudt_raw, upper_acc_staudt_raw, 
                                                                  lower_kappa_staudt_raw, upper_kappa_staudt_raw)


performances_all.loc['staudt_raw'] = [acc_staudt_raw, lower_acc_staudt_raw, upper_acc_staudt_raw,
                                  kappa_staudt_raw, lower_kappa_staudt_raw, upper_kappa_staudt_raw,
                                  p_staudt_raw, lower_p_staudt_raw, upper_p_staudt_raw]

../correlation_plot.py:116: UserWarning: Attempting to set identical bottom == top == 0 results in singular transformations; automatically expanding.
  axs[2].set_ylim([0, upper_y])

In [103]:
performances_all

,accuracy,lowerAcc,upperAcc,kappa,lowerKappa,upperKappa,performance,lowerPerformance,upperPerformance
staudt_ours,0.907692,0.858738,0.932217,0.892701,0.868186,0.917216,0.904654,0.848797,0.940202
staudt_raw,0.938462,0.894063,0.956576,0.914826,0.899034,0.930618,0.933637,0.885655,0.958302

In [107]:
sum(lry_staudt_raw), sum(lry_staudt_ours), len(lry_staudt_ours)

(61, 59, 65)