In [1]:
import pandas as pd

In [2]:
qval_df = pd.read_csv('../../data_tables/qval_dfs/fisher_exact_5x2.Sep_23_2022.combined.tsv', sep='\t', index_col=0)

In [3]:
c1_drivers = qval_df.loc[(qval_df['cluster'] == 'C1') & (qval_df['q'] <= 0.10)].index
c2_drivers = qval_df.loc[(qval_df['cluster'] == 'C2') & (qval_df['q'] <= 0.10)].index
c3_drivers = qval_df.loc[(qval_df['cluster'] == 'C3') & (qval_df['q'] <= 0.10)].index
c4_drivers = qval_df.loc[(qval_df['cluster'] == 'C4') & (qval_df['q'] <= 0.10)].index
c5_drivers = qval_df.loc[(qval_df['cluster'] == 'C5') & (qval_df['q'] <= 0.10)].index

In [12]:
nm_gsm = pd.read_csv('../../data_tables/NM_supp_cnmf/a) Gene sample matrix-Table 1.tsv', sep='\t', index_col=0, skiprows=1)
nm_gsm.index = nm_gsm.index.str.replace(':', '.').str.replace('-', '.').str.upper()
nm_gsm.index = ['X' + x if '.AMP' in x or '.DEL' in x else x for x in nm_gsm.index]
nm_gsm.index = [x if x != 'X18Q21.33(BCL2).AMP' else 'X18Q21.33.AMP' for x in nm_gsm.index]

In [22]:
for x in nm_gsm.index:
    if '18' in x:
        print(x)

X18P.AMP
X18Q.AMP
X18Q21.33.AMP
X18Q23.DEL

In [40]:
# New genes
new_c1 = set(c1_drivers) - set(nm_gsm.index)
new_c2 = set(c2_drivers) - set(nm_gsm.index)
new_c3 = set(c3_drivers) - set(nm_gsm.index)
new_c4 = set(c4_drivers) - set(nm_gsm.index)
new_c5 = set(c5_drivers) - set(nm_gsm.index)

new_c1 = new_c1 - set(['MYD88.OTHER'])
new_c2 = new_c2 - set(['X18Q21.32.AMP'])
new_c5 = new_c5 - set(['MYD88.L265P'])

In [41]:
new_c1

{'BCL7A', 'CCDC27', 'CXCR4', 'FADD', 'SMG7', 'TNIP1', 'TUBGCP5'}

In [42]:
new_c2

{'ZNF423'}

In [43]:
new_c3

{'MEF2C', 'SOCS1'}

In [44]:
new_c4

{'CD274',
 'CRIP1',
 'DUSP2',
 'KRAS',
 'METAP1D',
 'PABPC1',
 'RAC2',
 'SESN3',
 'TET2',
 'YY1'}

In [45]:
new_c5

{'ATP2A2', 'IRF2BP2', 'IRF4', 'OSBPL10', 'PIM2', 'X18Q22.2.AMP'}

In [46]:
new_drivers = pd.DataFrame([new_c1, new_c2, new_c3, new_c4, new_c5])
new_drivers.index = ['C1', 'C2', 'C3', 'C4', 'C5']
new_drivers

,0,1,2,3,4,5,6,7,8,9
C1,FADD,SMG7,TUBGCP5,BCL7A,CCDC27,TNIP1,CXCR4,None,None,None
C2,ZNF423,None,None,None,None,None,None,None,None,None
C3,SOCS1,MEF2C,None,None,None,None,None,None,None,None
C4,YY1,CRIP1,DUSP2,RAC2,KRAS,PABPC1,CD274,METAP1D,TET2,SESN3
C5,PIM2,OSBPL10,ATP2A2,IRF2BP2,X18Q22.2.AMP,IRF4,None,None,None,None